header{
    border: 2px solid black;
    height: 100px;
    background-color: gainsboro;
    
    
}
h2{
    margin-top: 50px;
    color: black;
}

nav{
    color: black;
    padding-top: 20px;
    background-color: lightgreen;
    height: 30px;
    border: 2px solid black;
}
ul, li{
    display: inline;
    list-style: none;
}
body{
    border: 2px solid black;
}
table{
    background-color: lightgreen;
}

#tomate{
    width: 400px; height: 400px;
    

}

#cebola{
    width: 400px; height: 400px;
    

}

#alface{
    width: 400px; height: 400px;
    

}

#berinjela{
    width: 400px; height: 400px;
    

}

#pepino{
    width: 400px; height: 400px;
    

}
td{
    color: black;
    border: 3px solid black;
}
tr, th{
    border: 3px solid black;
    color: black;

}