header{
    border: 2px solid black;
    height: 100px;
    background-color: gainsboro;
}

h2{
    padding-left: 10px;
}
nav{
    color: black;
    padding-top: 20px;
    background-color: lightgreen;
    height: 30px;
    border: 2px solid black;
}
ul, li{
    display: inline;
    list-style: none;
}
body{
    border: 2px solid black;
}
div{
    background-color: lightgreen;
    height: 30px;
    padding-top: 20px;
    border: 2px solid black;
    padding-left: 10px;
}
#funcionarios{
    height: 350px;
    width: 350px;
    border: 2px solid black;
    margin-top: 10px;

}
